body {
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid rgba(80, 138, 63, 0.5);
    border-left-color: rgba(80, 138, 63, 0.95);
    animation-direction: alternate-reverse;
    animation: load linear infinite;
    animation-duration: 4s;
}

@keyframes load {
    100% {
        transform: rotate(360deg);
    }
}